.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-20 {
  display: flex;
  justify-content: center;
  width: 20%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.justify-start {
  display: flex;
  justify-content: start;
}
